*,
::before,
::after,
:host {
  box-sizing: border-box;
  max-inline-size: 100%;
  padding: 0;
  margin: 0;
  color: oklch(30% 0 0);
  font: inherit;
  touch-action: none;
  -webkit-text-size-adjust: none;
}

:host {
  display: grid;
  background-color: oklch(95% 0 0);
  padding: 1%;
  border-radius: 0.75rem;
  margin: 0;
  place-items: center;
  font-family: ui-monospace, monospace;
  font-weight: bold;
  font-size: calc(min(80cqmin, calc(50px * var(--width))) / 100 * 5);
  inline-size: min(100dvi, calc(2.75rem * var(--width)));
  gap: 1px;
}

.info-panel {
  display: grid;
  grid-template-columns: max-content auto max-content;
  padding-block: 1.25% 2.5%;
  padding-inline: 5%;
  gap: 1rem;
  justify-content: space-between;
  inline-size: 100%;
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(var(--width), 1fr);
  gap: 1px;
  inline-size: 100%;
  background-color: oklch(60% 0 0);
  border: 1px solid oklch(60% 0 0);
  border-radius: 0.25rem;
  overflow: hidden;
}

.row {
  display: contents;
}

.btn {
  display: grid;
  font-weight: bold;
  aspect-ratio: 1;
  block-size: 100%;
  inline-size: 100%;

  &::part(button) {
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    block-size: 100%;
    inline-size: 100%;
    appearance: none;
    background-color: oklch(85% 0 0);
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }
}

.revealed {
  &::part(button) {
    background-color: oklch(95% 0 0);
    cursor: oklch(90% 0 0);
  }
}

.armed-adjacent-count--1 {
  &::part(button) {
    color: oklch(50% 0.4 260);
  }
}

.armed-adjacent-count--2 {
  &::part(button) {
    color: oklch(50% 0.4 215);
  }
}

.armed-adjacent-count--3 {
  &::part(button) {
    color: oklch(50% 0.4 170);
  }
}

.armed-adjacent-count--4 {
  &::part(button) {
    color: oklch(50% 0.4 125);
  }
}

.armed-adjacent-count--5 {
  &::part(button) {
    color: oklch(50% 0.4 80);
  }
}

.armed-adjacent-count--6 {
  &::part(button) {
    color: oklch(50% 0.4 35);
  }
}

.armed-adjacent-count--7 {
  &::part(button) {
    color: oklch(50% 0.4 350);
  }
}

.armed-adjacent-count--8 {
  &::part(button) {
    color: oklch(50% 0.4 305);
  }
}

:not(.armed-state).flagged.revealed {
  &::part(button) {
    --content: ;
  }
}
